<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liushihao.dao.JdDao">

    <insert id="batchInsert" parameterType="com.liushihao.entity.Jd">
        insert into JD (ID, NAME, SEX, MOBILE, EMAIL, ADDRESS, BIRTHDAY)
        <foreach collection="list" item="jd" separator="UNION ALL">
            SELECT #{jd.id}, #{jd.name}, #{jd.sex}, #{jd.mobile}, #{jd.email}, #{jd.address}, #{jd.birthday}
            FROM dual
        </foreach>
    </insert>

    <select id="selectByCondition" parameterType="com.liushihao.entity.Jd" resultType="com.liushihao.entity.Jd">
        select
          *
        from JD
        <where>
            id <![CDATA[>=]]> #{id}
            <if test="sex != null and sex != '' ">
                and sex = #{sex}
            </if>
            <if test="mobile != null and mobile == '15555555555'.toString() ">
                and MOBILE = #{mobile}
            </if>
        </where>
    </select>
    
    <delete id="deleteById" parameterType="com.liushihao.entity.Jd">
        delete from JD where ID = #{id}
    </delete>
</mapper>